<ion-card *ngIf="post"
    class="[--background:rgba(12,12,12,.8)] backdrop-blur-lg border-shark-950 border border-solid contain-none rounded-xl p-4 shadow-lg shadow-black/80">
    <div class="flex flex-col gap-4">
        <div class="flex items-center gap-2">
            <!-- <ion-img src="assets/hiro.jpg" class="w-9 rounded-full overflow-hidden"></ion-img> -->
            <ion-icon name="person-circle-outline" class="size-9 rounded-full overflow-hidden"></ion-icon>
            <div class="grow flex justify-between">
                <div>
                    <h1 class="text-sm text-gray-200">
                        {{ authorName || post.authorName }}
                    </h1>
                    <span class="text-xs">
                        {{ authorNick || post.authorNick }}
                    </span>
                </div>
                <span class="text-sm ml-2">{{ post.createdAt }}</span>
            </div>
        </div>

        <div class="flex justify-center flex-col gap-3">
            <h1 class="text-shark-50 text-base font-semibold">{{ post.title }}</h1>
            <p class="text-shark-100 text-sm">
                {{ post.body }}
            </p>
        </div>

        <div class="w-full flex justify-between items-center">
            <div class="relative">
                <ion-icon *ngIf="!post.isAuthor" name="heart-outline" (click)="like()"
                    class="text-shark-300 text-3xl cursor-pointer select-none"></ion-icon>
                <ion-icon *ngIf="true" name="heart"
                    class="text-rose-700 text-3xl cursor-pointer select-none absolute inset-0 scale-105 transition-all pointer-events-none {{ isLiking ? 'opacity-100' : 'opacity-0' }}"></ion-icon>
            </div>
            <div class="space-x-2">
                <span class="font-bold">{{ post.likes }}</span>
                <span>Curtidas</span>
            </div>
        </div>
    </div>
</ion-card>
