<div class="fixed top-2.5 inset-x-2.5 z-10 group">
    <ion-searchbar type="search" placeholder="Procure usuários" inputmode="search" type="search" [debounce]="500"
        (ionInput)="search($event)"
        class="peer [--background:none] caret-orient-500 bg-mine-shaft-950/80 backdrop-blur-lg p-0 w-auto border-mine-shaft-800 border rounded-xl overflow-hidden focus-within:bg-cod-gray-950/50  focus-within:rounded-b-none group-has-[input:not(:placeholder-shown)]:rounded-b-none transition-all">
    </ion-searchbar>

    <ion-list lines="none" mode="ios"
        class="top-full absolute w-full bg-cod-gray-950/50 backdrop-blur-lg border border-t-0 border-mine-shaft-800 invisible opacity-0 peer-focus-within:opacity-100 peer-focus-within:visible peer-[:not(:focus-within)]:bg-mine-shaft-950 z-10 transition-all rounded-b-xl shadow-lg py-2">
        @for (user of users; track user) {
        <a [routerLink]="['/user', user.id]">
            <ion-item class="[--background:none] hover:[--background:theme(colors.white/.1)] space-x-3">
                <!-- <ion-img src="assets/hiro.jpg" class="w-9 rounded-full overflow-hidden"></ion-img> -->
                <ion-icon name="person-circle-outline" class="w-9 rounded-full overflow-hidden"></ion-icon>
                <ion-label>{{ user.nick }}</ion-label>
            </ion-item>
        </a>
        } @empty {
        <ion-item class="[--background:none] text-center">
            <ion-label>Procure um usuário</ion-label>
        </ion-item>
        }
    </ion-list>
</div>