<div class="overflow-auto mt-14">
    <create-post-card class="block overflow-auto" />
    <hr class="w-4/5 mx-auto border-shark-500">
    <div class="flex justify-center items-stretch flex-col min-h-36">
        <post-card-skeleton *ngIf="isLoading" />
        <div *ngIf="!isLoading">
            <post-card *ngFor="let post of posts" [post]="post" class="basis-full last:mb-2.5" />
        </div>
        <div *ngIf="!isLoading && !posts" class="text-center">
            Sem posts para mostrar
        </div>
    </div>
</div>