/* For information on how to create your own theme, please see: */
/* http://ionicframework.com/docs/theming/ */

:root {
    --bg-stacked-peaks: url("/assets/bg-stacked-peaks.svg");
    --bg-waves: url("/assets/bg-waves.svg");
    --bg-blob-scene: url("/assets/blob-scene-haikei.svg");
}
