<ion-card
    class="[--background:rgba(12,12,12,.8)] backdrop-blur-lg border-shark-950 border border-solid contain-none rounded-xl p-4 shadow-lg shadow-black/50">
    <div class="flex flex-col gap-4">
        <div class="flex items-center gap-2">
            <ion-skeleton-text animated class="size-9 rounded-full"></ion-skeleton-text>
            <div class="grow flex justify-between">
                <div class="relative">
                    <ion-skeleton-text animated class="w-20 h-4"></ion-skeleton-text>
                    <ion-skeleton-text animated class="w-16 h-4"></ion-skeleton-text>
                </div>
                <ion-skeleton-text animated class="w-28 h-4"></ion-skeleton-text>
            </div>
        </div>

        <div class="flex justify-center flex-col gap-3">
            <ion-skeleton-text animated class="w-16 h-6"></ion-skeleton-text>
            <ion-skeleton-text animated class="w-full h-16"></ion-skeleton-text>
        </div>

        <div class="w-full flex justify-between items-center">
            <div class="relative">
            </div>
            <div class="space-x-2">
                <ion-skeleton-text animated class="w-20 h-4"></ion-skeleton-text>
            </div>
        </div>
    </div>
</ion-card>