<ion-card
    class="[--background:rgba(12,12,12,.8)] backdrop-blur-lg border-shark-950 border border-solid contain-none overflow-visible rounded-xl p-2 shadow-xl shadow-black/80 mx-2.5">
    <div class="flex flex-col gap-4 relative">
        <ion-skeleton-text animated class="size-40 rounded-full mx-auto"></ion-skeleton-text>

        <ion-skeleton-text animated class="h-9 w-36 mx-auto"></ion-skeleton-text>

        <div class="flex justify-evenly items-center flex-row">
            <div class="flex justify-center items-center flex-col">
                <ion-skeleton-text animated class="h-12 w-20"></ion-skeleton-text>
            </div>
            <div class="flex justify-center items-center flex-col">
                <ion-skeleton-text animated class="h-12 w-20"></ion-skeleton-text>
            </div>
            <div class="flex justify-center items-center flex-col">
                <ion-skeleton-text animated class="h-12 w-20"></ion-skeleton-text>
            </div>
        </div>
    </div>
</ion-card>